/* set base values */
$text-base-size: 1em;
$text-scale-ratio: 1.2;
$text-heading-colour: $secondary-text-colour;

$heading-line-height: 1.8em;
$body-line-height: 1.6em;

/* type scale */
$text-xs: $text-base-size / $text-scale-ratio * $text-scale-ratio;
$text-sm: $text-base-size / $text-scale-ratio;
$text-md: $text-base-size * $text-scale-ratio;
$text-lg: $text-base-size * $text-scale-ratio * $text-scale-ratio;
$text-xl: $text-base-size * $text-scale-ratio * $text-scale-ratio *
  $text-scale-ratio;
$text-xxl: $text-base-size * $text-scale-ratio * $text-scale-ratio *
  $text-scale-ratio * $text-scale-ratio;

body {
  color: $font-colour;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: $text-base-size;
  @include md {
    font-size: 1.25em;
  }
}

h1,
h2,
form legend {
  color: $text-heading-colour;
  margin-bottom: $space-xxs;
  line-height: $heading-line-height;
}

.secondary-text {
  color: $secondary-text-colour;
}
/* text size */

h1,
.text--xxl {
  font-size: $text-xxl;
}

h2,
.text--xl {
  font-size: $text-xl;
}

h3,
.text--lg {
  font-size: $text-lg;
}

h4,
.text--md {
  font-size: $text-md;
}

.text--sm,
small {
  font-size: $text-sm;
}

.text--xs {
  font-size: $text-xs;
}
