/* colour palette */
$primary-colour: #1abc9c;
$secondary-colour: #16a085;
$font-colour: #181a1b;
$secondary-text-colour: #464849;
$light-grey-colour: #f5f6f7;
$mid-grey-colour: #eceeee;
$dark-grey-colour: #d5d7d9;

$white-colour: #fff;
