/* based on https://medium.com/codyhouse/create-your-design-system-part-4-spacing-895c9213e2b9 */
// TODO: ensure all browsers use 16px to 1em
$space-unit: 1em; // 16px
$space-xxs: 0.25 * $space-unit; // 4px
$space-xs: 0.5 * $space-unit; // 8px
$space-sm: 0.75 * $space-unit; // 12px
$space-md: 1.25 * $space-unit; // 20px
$space-lg: 2 * $space-unit; // 32px

/* components padding */
$component-padding: $space-sm;

.component {
  padding-top: $component-padding;
}

/* vertical margins */
.margin-top,
.margin-top--md {
  margin-top: $space-md;
}

.margin-top--sm {
  margin-top: $space-sm;
}

.margin-top--lg {
  margin-top: $space-lg;
}

.margin-bottom,
.margin-bottom--md {
  margin-bottom: $space-md;
}

.margin-bottom--sm {
  margin-bottom: $space-sm;
}

.margin-bottom--lg {
  margin-bottom: $space-lg;
}
