.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &__table {
    min-width: 350px;
    border-collapse: collapse;
    th,
    td {
      text-align: left;
      font-weight: normal;
      padding: $component-padding;
    }
    tr:nth-child(even) {
      background-color: $mid-grey-colour;
    }
    tr:nth-child(odd) {
      background-color: $light-grey-colour;
    }
  }
  &__top-header {
    background-color: $dark-grey-colour;
    font-weight: bold;
  }
}
