.root {
  height: 100vh;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: calc($space-unit * -1) 0 0 calc($space-unit * -1);
  padding: $space-sm;
}

main {
  flex-grow: 1;
  background-color: $white-colour;
  width: 90%;
  @include md {
    width: 45%;
  }
}

header {
  @include md {
    width: 100%;
    text-align: left;
    border-bottom: solid 4px $primary-colour;
  }
}

footer {
  @include md {
    width: 100%;
    text-align: left;
    padding-top: $space-md;
    margin-bottom: $space-sm;
  }
}
